<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/index/index.css">

</head>

<body>
    <%- include('app/views/partials/header') %>

        <%- include('app/views/home/home') %>
            <div class="container-categoria">
                <div class="categoria">
                    <h2>Politica</h2>
                </div>
                <div></div>
            </div>
            <div class="container-card" id='noticia-container'>

                <div class="card">
                    <div class="imagem-notica">
                        <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/Reuters_Direct_Media/BrazilOnlineReportBusinessNews/tagreuters.com2024binary_LYNXMPEK5C0LL-FILEDIMAGE.jpg?w=390&h=220&crop=1"
                            alt="">
                    </div>
                    <div class="titulo-noticia">
                        <div>
                            <h4>Miley é decentende do famoso maradona?</h4>
                        </div>
                    </div>
                    <div class="previa-noticia">
                        <div>
                            <span>Internatas apontam que miley pode ser decentende direto do maradona</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imagem-notica">
                        <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/Reuters_Direct_Media/BrazilOnlineReportBusinessNews/tagreuters.com2024binary_LYNXMPEK5C0LL-FILEDIMAGE.jpg?w=390&h=220&crop=1"
                            alt="">
                    </div>
                    <div class="titulo-noticia">
                        <div>
                            <h4>Miley é decentende do famoso maradona?</h4>
                        </div>
                    </div>
                    <div class="previa-noticia">
                        <div>
                            <span>Internatas apontam que miley pode ser decentende direto do maradona</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imagem-notica">
                        <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/Reuters_Direct_Media/BrazilOnlineReportBusinessNews/tagreuters.com2024binary_LYNXMPEK5C0LL-FILEDIMAGE.jpg?w=390&h=220&crop=1"
                            alt="">
                    </div>
                    <div class="titulo-noticia">
                        <div>
                            <h4>Miley é decentende do famoso maradona?</h4>
                        </div>
                    </div>
                    <div class="previa-noticia">
                        <div>
                            <span>Internatas apontam que miley pode ser decentende direto do maradona</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imagem-notica">
                        <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/Reuters_Direct_Media/BrazilOnlineReportBusinessNews/tagreuters.com2024binary_LYNXMPEK5C0LL-FILEDIMAGE.jpg?w=390&h=220&crop=1"
                            alt="">
                    </div>
                    <div class="titulo-noticia">
                        <div>
                            <h4>Miley é decentende do famoso maradona?</h4>
                        </div>
                    </div>
                    <div class="previa-noticia">
                        <div>
                            <span>Internatas apontam que miley pode ser decentende direto do maradona</span>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('app/views/partials/footer') %>


                <script src="/js/app.js"></script>
</body>

</html>