<div class="main-content">
    <div class="introText">
        <h1>
            <a href="#" class="headline-link">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sunt eveniet consequatur fuga ad
                odio voluptate ea, quibusdam voluptatibus sed?
            </a>
        </h1>
    </div>
    <div class="introContent">
        <div class="intro intro1"></div>
        <div class="intro-column">
            <div class="intro intro2"></div>
            <div class="intro intro3"></div>
        </div>
    </div>
</div>