<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/footer/footer.css">

</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="main-content" style="height: 100vh;">
        <h1>Bem-vindo ao Digital Newsroom!</h1>
    </div>

    <%- include('../partials/footer') %>

    <script src="/js/app.js"></script>
</body>
</html>
