<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/footer/footer.css">

</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="main-content">
        <div class="introText">
            <h1>
                <a href="#" class="headline-link">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sunt eveniet consequatur fuga ad odio voluptate ea, quibusdam voluptatibus sed?
                </a>
            </h1>
        </div>
        <div class="introContent">
            <div class="intro intro1"></div>
            <div class="intro-column">
                <div class="intro intro2"></div>
                <div class="intro intro3"></div>
            </div>
        </div>        
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/app.js"></script>
</body>
</html>
