.container-card {
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container-card .card {
    border: solid var(--border-color-dark) 1.5px;
    max-width: 300px;
    border-radius: 10px;
    background-color: var(--neutral-color-light);
}

.container-card .card .imagem-notica img {
    border-radius: 10px;
    width: 100%;
}

.container-card .card .titulo-noticia div {
    padding: var(--spacing-xs);
    text-align: center;
}

.container-card .card .previa-noticia div {
    padding: var(--spacing-xs);
}

.container-categoria {
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.container-categoria .categoria {
    width: min-content;
    padding: var(--spacing-xs);
    margin: var(--spacing-sm);
    background-color: var(--primary-color);
    color: var(--text-color-accent)
}

.container-categoria div:last-child {
    display: flex;
    width: 100%;
    height: 2px;
    align-content: center;
    background-color: var(--primary-color);
}